body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(252, 247, 210);
}

.a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 500px;
    height: 600px;
}

header{
    font-size: 50px;
    background-color: rgb(255, 240, 104);
    padding: 20px;
    text-align: center;
}
